<div class="headerIntro">
  <div class="backgroundImage" id="backgroundImage-1">
    <div class="backgroundImageCredit" alignment="true">
      <!-- CHARLES FOX / Staff Photographer -->
      LOU RABITO / Staff
    </div>
  </div>
  <h1 class="overlayText">Helmet Check</h1>
</div>

<div class="headerSection">
  <div class="BackgroundImageCaption">
    <!-- Jared Troyano of Pennsbury before a game against Neshaminy. -->
    West Catholic receiver Ahmad Kent (center) bangs helmets with Cardinal O’Hara’s Jack Gibson (15) in a Catholic League football game.
  </div>
  <div class="headDisplay">
    <div class="subHead">
      How safe are your high school’s football helmets? Most local teams need more that are top-rated.
    </div>
    <div class="byline">
      <a href="mailto:panastasia@phillynews.com">Phil Anastasia</a>, <a href="mailto:robrien@phillynews.com">Rick O'Brien</a>, <a href="mailto:cartera@phillynews.com">Aaron Carter</a>, and <a href="mailto:dpurcell@phillynews.com">Dylan Purcell</a>
      <div style="float:right;" class="custom-social-share" alignment="true">&nbsp;</div>
    </div>
    <div class="dateline">Thursday, Nov. 9, 2017</div>
  </div>
</div>

<div class="container bodyContainer" alignment="true">
  <div class="row" alignment="true">
    <div class="col-md-8 col col-md-offset-2" alignment="true">
      <!-- <p><span class="dropCap">L</span>orem ipsum dolor sit amet, consectetur adipiscing elit. Nunc gravida, arcu sed dignissim vestibulum, risus sapien dignissim tortor, lobortis suscipit erat ante eget sapien. In gravida arcu a nulla dignissim, sit
                amet ullamcorper lorem consectetur. nec at nunc. Nunc placerat placerat rhoncus. Donec vel luctus sem. Vivamus in nunc tellus. Quisque euismod quam nisl, in cursus ipsum pharetra ut. In ac ullamcorper nisl, sed aliquam nunc. Sed posuere
                bibendum rhoncus. Morbi nec efficitur augue. Quisque gravida faucibus massa, sit amet convallis tortor eleifend nec.</p>

            {% set quote = ["This is a quote here", "Source of quote"] %} {% include "partials/left-quote.html" %}

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc gravida, arcu sed dignissi vestibulum, risus sapien dignissim tortor, lobortis suscipit erat ante eget sapien. In gravida arcu a nulla dignissim, sit amet ullamcorper lorem consectetur.
                nec at nunc. Nunc placerat placerat rhoncus. Donec vel luctus sem. Vivamus in nunc tellus. Quisque euismod quam nisl, in cursus ipsum pharetra ut. In ac ullamcorper nisl, sed aliquam nunc. Sed posuere bibendum rhoncus. Morbi nec efficitur
                augue. Quisque gravida faucibus massa, sit amet convallis tortor eleifend nec.</p> -->
      <p>First came the collision. Then came the confusion.</p>
      <div class="adUnitWrapper containerMedia containerInsertRight" alignment="true">
        <div class="adUnit" alignment="true">
          <div id="div-gpt-ad-mrec-21" alignment="true">
            <script alignment="true" type="text/javascript">
              // <![CDATA[
              cX.callQueue.push(['invoke', function() {
                googletag.cmd.push(function() {
                  googletag.display('div-gpt-ad-mrec-21');
                });
              }]);
              // ]]>
            </script>
          </div>
        </div>
      </div>
      <p>Jared Troyano learned in this season's opening game that no football helmet can guarantee protection against a concussion.</p>

      <p>The 17-year-old Pennsbury High School defensive lineman was wrapping up a tackle late in the first quarter on Friday night, Aug. 25, when he banged helmets with another player.</p>

      <p>"I was real dazed for a minute," said Troyano, a 6-foot-1, 235-pound junior from Fairless Hills, Bucks County. "I was so confused I was completely out of it."</p>

      <p>Troyano, who was wearing a top-of-the-line Riddell Revolution Speed helmet, sat out the rest of the Falcons' victory that night and watched the next seven games from the sidelines as he recovered from a concussion. During his time off,  his mother, Amy, said the effects of the injury made her son miserable, "like a different person."</p>


    </div>
  </div>
  <div class="row" alignment="true">
    <div class="imagebreak">
      <img class="img-fluid" src="http://media.philly.com/images/ssHelmets-a1.JPG" alt="" width="100%/">
      <div class="containerPhotoCredit" alignment="true">CHARLES FOX / Staff Photographer</div>
      <div class="containerPhotoCaption" alignment="true">Jared Troyano of Pennsbury before a game against Neshaminy.</div>
    </div>
  </div>
  <div class="row" alignment="true">
    <div class="col-md-8 col col-md-offset-2">


      <p>"What happened to Jared," she said, "was what I feared most."</p>

      <p>She is not alone. Football players at all levels report concussions every season, and helmet manufacturers have scrambled to incorporate the latest safety technology into their brands.</p>


      <p>"If you look at football in 2017 compared to football in 2011, it's drastically different," said Stefan Duma, a biomedical engineering and sciences professor at Virginia Tech University. "There have been major changes in terms of helmet technology."</p>
    </div>
  </div>
  <div class="row" alignment="true">
    <div class="col-md-6 col" alignment="true">
      <div class="imagebreak">
        <img class="img-fluid" src="http://media.philly.com/images/RS_x_20171107_HELMETS12_E_428563972.JPG" alt="" width="100%/">
        <div class="containerPhotoCredit" alignment="true">CHARLES FOX / Staff Photographer</div>
        <div class="containerPhotoCaption" alignment="true">Jared Troyano, left, of Pennsbury pulls down Joel Stills of Neshaminy down by his jersey on Oct. 27, 2017.</div>
      </div>
    </div>
    <div class="col-md-6 col" alignment="true">
      <div class="imagebreak">
        <img class="img-fluid" src="http://media.philly.com/images/ssHelmets-b1.JPG" alt="" width="100%/">
        <div class="containerPhotoCredit" alignment="true">LOU RABITO / Staff</div>
        <div class="containerPhotoCaption" alignment="true">Central Bucks East defensive back Andrew Wilson leaves his feet to take down Hatboro-Horsham receiver Calvin Broaddus Jr. after a second-quarter pass.</div>
      </div>
    </div>
  </div>
  <div class="row" alignment="true">
    <div class="col-md-8 col col-md-offset-2" alignment="true">


      <p>Local high schools have changed with the times, too. Many of the inferior helmets that were used by local players over the last few years have been replaced by better-rated models, according to an&nbsp;Inquirer/Daily News analysis of three years
        of equipment inventories at 28 public schools in Southeastern Pennsylvania and South Jersey. However,&nbsp; a nagging number of lower-rated helmets remain.</p>

<p>In 2011, Duma and a team of researchers on football helmet safety unveiled the Virginia Tech helmet <a href="https://www.beam.vt.edu/helmet/helmets_football.php">5-star rating system</a> that ranks a helmet's safety features from no stars (not recommended) to 1-star (marginal), 2-star (adequate), 3-star (good), 4-star (very good) and 5-star (best), with the 5-stars regarded as most able to reduce concussion risk.</p>

      <p>At the 28 schools in the local survey, more than 40 percent of the 2,330 helmets this season were rated 5-star, or "best," up from 25 percent two years ago. Pennsbury, Troyano's school, reported that 89 percent of its 2017 helmets ranked as 5-stars.&nbsp;Methacton
        High School topped the list with all but one of its 109 2017 helmets rated 5-stars. Burlington City led South Jersey with 90 percent of its 51-helmet inventory at 5-stars.</p>

      <p>But data also shows that, in more than 100 cases from the schools in the survey, students could be sent into action wearing helmets that Virginia Tech rated as "good," or 3-star.&nbsp; Another 193 helmets in the survey were not tested by the researchers.
        In most cases, these helmets are variations of newer 4- and 5-star models. About three dozen of the 193 helmets are older and no longer manufactured.</p>

      <p style="text-align: start">Six of the 28 schools have no 5-star helmets, all of them Philadelphia public or charter high schools, though all have mostly 4-star helmets and some have unrated helmets that were recently purchased and based on newer technology.</p>
    </div>
  </div>
  <div class="row" alignment="true">
    <div class="col-md-8 col col-md-offset-2" alignment="true">
      <div id="helmet-tool"></div>
      <script type="text/javascript" src="https://pym.nprapps.org/pym.v1.min.js"></script>
      <script>
        var pymParent = new pym.Parent('helmet-tool', 'http://media.philly.com/storage/inquirer/iframe/helmets_nov8_3.html', {});
      </script>
    </div>
  </div>
  <div class="row" alignment="true">
    <div class="col-md-8 col col-md-offset-2" alignment="true">
      <p>James Lynch, the Philadelphia School District's&nbsp;executive director of athletics, said his helmets all have 10-year lifetimes and that in 2012, when several schools were closed, helmets were shuffled around to different schools.</p>

      <p>"There's no rhyme or reason" to the lack of 5-star helmets at a particular school, Lynch said. "We follow the process of recondition and replacing helmets. We make sure all our football&nbsp;equipment, including helmets and shoulder pads, are properly
        certified. Price is not an issue. It's about keeping the kids as safe as possible."</p>

      <p>As manufacturers create safer helmets, dueling narratives compete for attention.</p>

      <p>On one hand,&nbsp;<a href="https://www.washingtonpost.com/sports/the-latest-brain-study-examined-111-former-nfl-players-only-one-didnt-have-cte/2017/07/25/835b49e4-70bc-11e7-8839-ec48ec4cae25_story.html?utm_term=.e01c47e0f2c7">studies on Chronic Traumatic Encephalopathy (CTE)&nbsp;</a>, a disease found in the brains of many deceased NFL players with histories of concussions, and
        continuing brain injuries to younger players have caused parents to reconsider their <a href="https://press.rsna.org/timssnet/media/pressreleases/14_pr_target.cfm?ID=1905">children playing youth</a> and high school football,. Veteran coaches,
        such as Haddonfield High's Frank DeLano, suggest that "our sport is under attack."</p>

    </div>
  </div>
  <div class="row" alignment="true">
    <div class="imagebreak">
      <img class="img-fluid" src="http://media.philly.com/images/ssHelmets-d1.JPG" alt="" width="100%/">
      <div class="containerPhotoCredit" alignment="true">MICHAEL BRYANT / Staff Photographer</div>
      <div class="containerPhotoCaption" alignment="true">Senior Father Judge linebacker and tight end, Mark Maguire, missed two games last season due to a concussion.</div>
    </div>
  </div>
  <div class="row" alignment="true">
    <div class="col-md-8 col col-md-offset-2">

      <p>On the other hand, dramatic improvements in helmets, emphasis on helmet-free blocking and tackling, rule changes that outlaw the use of helmets on tackles and less physical practice routines have led others to say that high school football is safer
        than ever.
      </p>


      <div class="subHead">“Completely confident”</div>


      <p>Like those in pros and college, local high school football players use helmets made mostly by Riddell or Schutt, both of which now sell almost exclusively 5-star helmets. Together, the two companies make up about 90 percent of the high school helmet
        market, according to Glenn Beckmann, Schutt's director of marketing communications. Beckmann said the overall equipment market -- which include helmets, shoulder pads, knee pads, thigh pads and other "protective pieces" -- is worth about $400
        million.</p>

      <p>Since 1980, all high school helmets must meet standards designed by the National Operating Committee on Standards for Athletic Equipment, a nonprofit formed in 1969 in response to concerns about helmet safety. Older helmets rated "adequate" (2-stars)
        or "marginal" (1-star) by Virginia Tech can still meet <a href="http://nocsae.org/">NOCSAE</a> standards.</p>

    </div>
  </div>
  <div class="row" alignment="true">
    <div class="col-md-6 col" alignment="true">
      <div class="imagebreak">
        <img class="img-fluid" src="http://media.philly.com/images/ssHelmets-e2.JPG" alt="" width="100%/">
        <div class="containerPhotoCredit" alignment="true">Courtesy of Riddell</div>
        <div class="containerPhotoCaption" alignment="true">Thad Ide adjusting Riddell SpeedFlex Precision-Fit helmet for linear impact testing in Riddell's Illinois laboratory.</div>
      </div>
    </div>
    <div class="col-md-6 col" alignment="true">
      <div class="imagebreak">
        <img class="img-fluid" src="http://media.philly.com/images/ssHelmets-e3.JPG" alt="" width="100%/">
        <div class="containerPhotoCredit" alignment="true">Courtesy of Riddell</div>
        <div class="containerPhotoCaption" alignment="true">Thad Ide performing drop testing with a Riddell SpeedFlex Precision helmet in their Illinois laboratory.</div>
      </div>
    </div>
  </div>
  <div class="row" alignment="true">
    <div class="col-md-8 col col-md-offset-2" alignment="true">



      <p>Locally, parents say they are aware of helmet safety standards but rely on the schools' athletic departments to comply with them.</p>

      <p>"I'm completely confident that my boys are safely equipped and know the correct way to tackle," said Celeste Lomax, who lives in Washington Township, Gloucester County, and has two sons, junior Brad and freshman Chase, playing football at St. Joseph
        High School.
      </p>

      <p>Joe Lauletta, of Exton, Chester County, is the father of Downingtown East senior quarterback Bryce Lauletta.</p>

      <p>"I know that the school has the resources to stay up to date and provide the safest equipment," said Lauletta, who played quarterback at the Naval Academy and coached a youth football team.</p>

          <div class="imagebreak">
            <img class="img-fluid" src="http://media.philly.com/images/helmetsXX-a.JPG" alt="" width="100%/">
            <div class="containerPhotoCredit" alignment="true">KAIT MOORE / Staff Photographer</div>
            <div class="containerPhotoCaption" alignment="true">Back of helmet with cerification sticker at Strath Haven High.</div>
          </div>

      <p>Amy Troyano said, "No matter how hard they try to play safely, kids get hurt playing football."</p>

      <p>Mark Maguire went through that last season. The 17-year-old Father Judge High linebacker was a junior when he moved in for a tackle in the third quarter of a game and collided helmet-to-helmet at full speed with a charging running back.</p>

      <p>"I kind of blacked out for two seconds. I was seeing stars," said Maguire, who stands 6-1 and weighs 215 pounds and lives in Port Richmond. He said&nbsp;he was wearing a 5-star-rated Riddell Speed helmet.</p>

      <p>Maguire left that game and suffered migraine headaches, blurry vision and balance troubles for a while. He sat out the next two games before being&nbsp;cleared to&nbsp;return.</p>

      <!--
    </div>
  </div>
</div>
<div class="container-fluid" alignment="true" style="overflow:hidden;"> -->

      {% include "scroll-graphic.html" ignore missing %}

      <!-- </div>
<div class="container bodyContainer" alignment="true">


  <div class="row" alignment="true">
    <div class="col-md-8 col col-md-offset-2" alignment="true">
 -->

      <div class="subHead"> New target to hit</div>


      <p>The longevity of a helmet is mostly the cause for lower-ranked helmets still in use, Duma said. Helmets older than 10 years can no longer be re-certified by manufacturers, and most teams have their helmets re-certified after every season. With technology
        improving yearly, top-of-the-line helmets bought just two years ago may no longer be the best available even though they still rate 5-stars.</p>

      <p>"In 2011, there was one" 5-star helmet, Duma said. "It's like the car industry. Automobile manufacturers don't make one-star cars anymore. They are all five-stars. It's the same with helmets."</p>

      <div class="imagebreak">
        <img class="img-fluid" src="http://media.philly.com/images/ssHelmets-g1.JPG" alt="" width="100%/">
        <div class="containerPhotoCredit" alignment="true">ELIZABETH ROBERTSON / Staff Photographer</div>
        <div class="containerPhotoCaption" alignment="true">West Deptford’s John Barrett (74) with coach Clyde Folsom. Folsom said that, while helmets are better, players are bigger these days and their  collisions are "more intense."</div>
      </div>


      <p>Duma said manufacturers have produced 16 models that currently receive 5-star ratings from Virginia Tech. Duma's testing, like that of the manufacturers, consists of a variety of mechanisms that simulate and record helmet collisions.</p>

      <p>In Virginia Tech's ratings, the Schutt Air XP Pro VTD II and Schutt Vengeance VTD II are ranked Nos. 1 and 2, respectively. The Riddell SpeedFlex is third. A 5-star helmet can cut concussion risk in half, Duma said his research shows. In contrast, a 3-star helmet cuts it by only one quarter, he said. </p>

      <p>People from <a href="https://www.schuttstore.com/football/varsity/helmets.html" target="_blank">Schutt</a> and <a href="http://www.riddell.com/shop/on-field-equipment/helmets.html" target="_blank">Riddell</a> say they appreciate the attention the ratings bring to their top products but caution against using the star system for more than a "guide."</p>

      <p>"It has given the industry another target to hit in terms of perceived helmet performance," Schutt's Beckmann said. He said he does not agree with a general statement that helmet A is better than helmet B simply because of the star rating. Sometimes,
        he said, helmets have nothing to do with a player getting a concussion.</p>

      <p>Thad Ide, Riddell's senior vice president of research and product development, said the star system "certainly encouraged companies to modify and tinker with their designs."</p>

      <p>Ed McGettigan, the athletic director and football coach at Northeast Philadelphia's Lincoln High, said his team uses the Riddell Revolution Speed helmet. Shawnee High coach Tim Gushue, Holy Spirit High senior quarterback Josh Zamot and Council Rock
        South High senior lineman Noah Collachi all like Riddell's SpeedFlex.</p>

      <div class="imagebreak">
        <img class="img-fluid" src="http://media.philly.com/images/ssHelmets-h3.JPG" alt="" width="100%/">
        <div class="containerPhotoCredit" alignment="true">MICHAEL BRYANT / Staff Photographer</div>
        <div class="containerPhotoCaption" alignment="true">Methacton football trainer Zachery Olds shows how a chip in the football helmets transmits data to a hand held device that shows about how many times the helmet has been hit.</div>
      </div>

      <p>"It has the cut-out above the face mask that is supposed to reduce impact," Gushue said.</p>

      <p>Archbishop Wood High has used a helmet from <a href="http://www.defendyourhead.com/">Defend Your Head</a>, a sports safety company that features soft-shell technology called ProTech. It's a polyurethane piece that fits over the existing helmet and
        is designed to "absorb and dissipate" energy from the impact of the hit.</p>

      <p>Generally, Riddell said its top helmets range in price from $280 to $410, with $150 added for the newest sensor technology. Schutt said its top helmets range from $259 to $450. The Schutt F7 VD II helmet, with a retail price of about $975, came
        out in January. It features two removable exterior plates that Beckmann called "the most advanced impact absorption system on the market."</p>

      <div class="subHead">Other concerns, too</div>

      <p>While much attention has gone to helmet safety, players, parents and coaches also stress that proper blocking and tackling techniques and closer scrutiny of players by coaches and trainers are as important in avoiding head injuries.</p>

      <p>Players at Conwell-Egan and Haddonfield high schools wear padded covers on their helmets at practice to disperse some of the force that occurs during collisions. Some coaches also ban tackling during practice, opting instead for "touch" drills or
        tackling dummies. &nbsp;Shawnee and St. Joseph, two of South Jersey's top programs, don't tackle at all in practice during game weeks.</p>

    </div>
  </div>
  <div class="row" alignment="true">
    <div class="imagebreak">
      <div class="col-md-6 col" alignment="true">
        <img class="img-fluid" src="http://media.philly.com/images/ssHelmets-f6.JPG" alt="" width="100%/">
      </div>
      <div class="col-md-6 col" alignment="true">
        <img class="img-fluid" src="http://media.philly.com/images/RS_x_20171107_HELMETS12_D_425899322.JPG" alt="" width="100%/">
        <div class="containerPhotoCredit" alignment="true">TOM GRALISH / Staff Photographer</div>

      </div>
      <div class="containerPhotoCaption" alignment="true">Haddonfield Memorial High School head football coach Frank DeLano at practice. His team uses Guardian Cap soft shell helmet covers for reduction of helmet-to-helmet impact.</div>
    </div>
  </div>
  <div class="row" alignment="true">
    <div class="col-md-8 col col-md-offset-2" alignment="true">

      <p>Lomax, the mother from St. Joseph, said she wants coaches to "drill into [players'] heads how important correct-form tackling is."</p>

      <p>Gushue, now in his 35th season at Shawnee, said he spends as much time teaching proper tackling technique (don't lead with your head) as he does running plays.&nbsp;"When I started it was, 'Go tackle the guy,' " Gushue said. Now, "you hardly see
        much hitting in practice at all."</p>

      <p>The New Jersey State Interscholastic Athletic Association, the governing body in New Jersey high school sports, <a href="http://www.nfhs.org/media/1014885/2014_nfhs_recommendations_and_guidelines_for_minimizing_head_impact_october_2014.pdf" target="_blank">has guidelines limiting</a> football teams to 90 minutes of hitting in practice per week. Many coaches say they don't come close to that.
        The Pennsylvania Interscholastic Athletic Association has a similar rule.</p>

      <p>However, it's also the case, West Deptford High coach Clyde Folsom said, that today's players are stronger and faster than ever, so their&nbsp; collisions are "more intense." Improved equipment and technique can compensate for only so much.</p>

      <p>"The brain isn't any bigger," Folsom said. "The spine isn't any bigger. So while the helmets are better, and everybody is teaching proper tackling techniques and being as safe and as careful as possible, the players are bigger and stronger now at
        every level."
      </p>
      </p>
      <div class="subHead">Scary to compare</div>

      <p>Sensor safety technology has already arrived for players at Boyertown, Methacton, Kennett, Burlington City, Burlington Township, Cedar Creek, Vineland and Williamstown high schools.</p>

      <p>Like the others, Williamstown athletic director Ron Becker said the school purchased new Riddell SpeedFlex helmets that are equipped with an "<a href="https://www.riddell.com/riddell-iq">InSite</a>" sensor that measures and reports significant impact.</p>

      <p>An electronic pad with sensors that are integrated with a computer program is fitted between the outside shell and the padding of the helmet. Using a handheld receiver the size of a cellphone, the coaches and training staff are able to measure the
        levels of hits and the timing of the heaviest impact during every practice and game. An alert is generated on the receiver if an extraordinary hit is recorded by the sensors.</p>

      {% set quote = ["It almost gives you an extra pair of eyes.", "Nick Reyes, Kennett High"] %} {% include "partials/left-quote.html" %}


      <p>"So we can tell if a player wearing a helmet is taking extra hits on a Tuesday, maybe we look at Tuesday's schedule and see what drills he's been going through and try to adjust that," Becker said. "Or if it shows that a player has taken some particularly
        hard hits, maybe we take an extra-long look at the player and see how he's doing."</p>

      <p>"It almost gives you an extra pair of eyes," said Kennett High trainer Nick Reyes.</p>

      <p>That's a big difference from the helmets that Florence coach Joe Frappolli and Randy Cuthbert used to wear. Frappolli still has the flimsy leather helmet he wore in high school for the 1961 Florence Flashes. Cuthbert, the Wissahickon High athletic
        director and football coach, was a star at Central Bucks West High in the 1980s and played in college at Duke and two seasons with the Steelers in the NFL before knee injuries and concussions ended his career.</p>


    </div>
  </div>
  <div class="row" alignment="true">
    <div class="col-md-6 col" alignment="true">
      <div class="imagebreak">
        <img class="img-fluid" src="http://media.philly.com/images/ssHelmets-i1.JPG" alt="" width="100%/">
        <div class="containerPhotoCredit" alignment="true">JESSICA GRIFFIN / Staff Photographer</div>
        <div class="containerPhotoCaption" alignment="true">Wissahickon football coach and AD Randy Cuthbert shows the helmets he wore playing for C.B. West (mid-1980s), Duke, Pittsburgh Steelers, and Carolina Panthers.</div>
      </div>
    </div>
    <div class="col-md-6 col" alignment="true">
      <div class="imagebreak">
        <img class="img-fluid" src="http://media.philly.com/images/ssHelmets-j2.JPG" alt="" width="100%/">
        <div class="containerPhotoCredit" alignment="true">JESSICA GRIFFIN / Staff Photographer</div>
        <div class="containerPhotoCaption" alignment="true">Coach Joe Frappolli tries on one of his old football helmets from the 1960's.</div>
      </div>
    </div>
  </div>
  <div class="row" alignment="true">
    <div class="col-md-8 col col-md-offset-2" alignment="true">


      <p>"It's scary when you compare the design, padding, and technology of helmets you see today," Cuthbert said.</p>

      <p>For Jared Troyano, quitting football after his first concussion is not an option, especially with helmets getting better by the year.</p>



      <div class="adUnitWrapper containerMedia containerInsertRight" alignment="true">
        <div class="adUnit" alignment="true">
          <div id="div-gpt-ad-mrec-22" alignment="true">
            <script alignment="true" type="text/javascript">
              // <![CDATA[
              cX.callQueue.push(['invoke', function() {
                googletag.cmd.push(function() {
                  googletag.display('div-gpt-ad-mrec-22');
                });
              }]);
              // ]]>
            </script>
          </div>
        </div>
      </div>
      <p>"I trust that the helmet I wear is one of the best out there and will help keep me safe," said Troyano, whose older brother, Tyler, played for Pennsbury and younger brother, Jack, is a sophomore back. "Football is kind of in my blood."</p>
    </div>
  </div>
  <!-- <div class="row" alignment="true">
        <div class="col imagebreak">
            <img class="img-fluid" src="http://media.philly.com/images/800*533/112715_Philadelphia-Skyline.jpg" alt="" width="100%/">
            <div class="containerPhotoCredit" alignment="true">File photo</div>
            <div class="containerPhotoCaption" alignment="true">A full column width photo of Gavin.</div>
        </div>
    </div>
    <div class="row" alignment="true">
        <div class="col-md-8 col col-md-offset-2" alignment="true">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc gravida, arcu sed dignissim vestibulum, risus sapien dignissim tortor, lobortis suscipit erat ante eget sapien. In gravida arcu a nulla dignissim, sit amet ullamcorper lorem consectetur.
                nec at nunc. Nunc placerat placerat rhoncus. Donec vel luctus sem. Vivamus in nunc tellus. Quisque euismod quam nisl, in cursus ipsum pharetra ut. In ac ullamcorper nisl, sed aliquam nunc. Sed posuere bibendum rhoncus. Morbi nec efficitur
                augue. Quisque gravida faucibus massa, sit amet convallis tortor eleifend nec.</p>
        </div>
    </div> -->
</div>
<div class="headerIntro">
  <div class="backgroundImage" id="backgroundImage-2">
    <div class="backgroundImageCredit" alignment="true">MICHAEL BRYANT / Staff Photographer</div>
  </div>
</div>


<div class="container-fluid sourcebox" alignment="true">
  <div class="row" alignment="true">
    <div class="col-md-8 col col-md-offset-2" alignment="true">
      <div>
        <h4>CREDITS</h4>
        <p>Reporters: Phil Anastasia, Rick O'Brien, Aaron Carter, and Dylan Purcell<br> Editors: Gary Miles and James Neff<br> Visuals editor: Frank Wiese<br> Photo editor: Alejandro Alvarez<br> Design and graphics: Garland Potts, Jon Snyder and Jared Whalen<br>          Project Manager: Ellen Dunkel<br> Photography: Tom Gralish, Charles Fox, Michael Bryant, Jessica Griffin, Kait Moore and Lou Rabito<br>
          Copy editor: Jim Swan <br>
          <!-- Social editor: Ray Boyd -->
        </p>
      </div>
    </div>
  </div>
</div>
