<div class="headerIntro">
    <div class="backgroundImage" id="backgroundImage-1">
        <div class="backgroundImageCredit" alignment="true">CHARLES FOX / Staff Photographer</div>
    </div>
    <h1 class="overlayText">Headline goes here</h1>
</div>

<div class="headerSection">
    <div class="BackgroundImageCaption">
        Jared Troyano of Pennsbury before a game against Neshaminy.
    </div>
    <div class="headDisplay">
        <div class="subHead">
            This is the subhead.
        </div>
        <div class="byline">
            Jeff McLane / Staff Writer, <a href="mailto:jmclane@phillynews.com">jmclane@phillynews.com</a>
            <div style="float:right;" class="custom-social-share" alignment="true">&nbsp;</div>
        </div>
        <div class="dateline">Wednesday, Nov. 8, 2017</div>
    </div>
</div>

<div class="container bodyContainer" alignment="true">
    <div class="row" alignment="true">
        <div class="col-md-8 col col-md-offset-2" alignment="true">
            <!-- <p><span class="dropCap">L</span>orem ipsum dolor sit amet, consectetur adipiscing elit. Nunc gravida, arcu sed dignissim vestibulum, risus sapien dignissim tortor, lobortis suscipit erat ante eget sapien. In gravida arcu a nulla dignissim, sit
                amet ullamcorper lorem consectetur. nec at nunc. Nunc placerat placerat rhoncus. Donec vel luctus sem. Vivamus in nunc tellus. Quisque euismod quam nisl, in cursus ipsum pharetra ut. In ac ullamcorper nisl, sed aliquam nunc. Sed posuere
                bibendum rhoncus. Morbi nec efficitur augue. Quisque gravida faucibus massa, sit amet convallis tortor eleifend nec.</p>

            {% set quote = ["This is a quote here", "Source of quote"] %} {% include "partials/left-quote.html" %}

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc gravida, arcu sed dignissi vestibulum, risus sapien dignissim tortor, lobortis suscipit erat ante eget sapien. In gravida arcu a nulla dignissim, sit amet ullamcorper lorem consectetur.
                nec at nunc. Nunc placerat placerat rhoncus. Donec vel luctus sem. Vivamus in nunc tellus. Quisque euismod quam nisl, in cursus ipsum pharetra ut. In ac ullamcorper nisl, sed aliquam nunc. Sed posuere bibendum rhoncus. Morbi nec efficitur
                augue. Quisque gravida faucibus massa, sit amet convallis tortor eleifend nec.</p> -->
                <p>First came the impact. Then the confusion.</p>

                <p>Jared Troyano learned in this season's opening game that no football helmet can guarantee protection against a concussion.</p>

                <p>The 17-year-old Pennsbury High School defensive lineman was wrapping up a tackle late in the first quarter on Aug. 25 when he banged helmets with another player.</p>

                <p>&quot;I was real dazed for a minute,&quot; said Troyano, a 6-foot-1, 235-pound junior from Fairless Hills, Bucks County. &quot;I was so confused. I was completely out of it.&rdquo;</p>

                <p>Troyano, who was wearing a Riddell Revolution Speed helmet, sat out the rest of the Falcons' victory and watched the next seven games from the sidelines as he recovered from a concussion. During his time off, his mother, Amy, said her son was &ldquo;like a different person.&quot;</p>

                <p>&quot;He was also miserable and spent a lot of time on his own,&quot; she said. &quot;What happened to Jared was what I feared most.&rdquo;</p>

              <div class="imagebreak">
                  <img class="img-fluid" src="http://media.philly.com/images/ssHelmets-b1.JPG" alt="" width="100%/">
                  <div class="containerPhotoCredit" alignment="true">LOU RABITO / Staff</div>
                  <div class="containerPhotoCaption" alignment="true">Central Bucks East defensive back Andrew Wilson leaves his feet to take down Hatboro-Horsham receiver Calvin Broaddus Jr. after a second-quarter pass.</div>
              </div>

                <p>She is not alone. A properly fitted, highly rated football helmet &mdash; Troyano's was a top-of-the-line 5-star model &mdash; can reduce the risk of concussion. But, as players and parents and coaches discover every season ...</p>

                <p>&quot;You&rsquo;re never going to design a helmet that is going to eliminate concussions,&rdquo; said Thomas Watanabe, the clinical director of the Drucker Brain Injury Center at MossRehab in Elkins Park.</p>

                <p>Because of that, concussions in sports, particularly college and professional football, have been a topical &mdash; and terrifying &mdash; issue for years. So, over the last decade, players and their families and others have galvanized around improving equipment to lower risks.</p>

                <p>&ldquo;If you look at football in 2017 compared to football in 2011, it&rsquo;s drastically different,&rdquo; said Stefan Duma, a biomedical engineering professor at Virginia Tech University. Duma leads a team of researchers on football helmet safety who designed the 5-star rating system that has been adopted -- grudgingly at first and now embraced as a sales tool -- by the big equipment manufacturers.</p>

                <div class="imagebreak">
                    <img class="img-fluid" src="http://media.philly.com/images/ssHelmets-b2.JPG" alt="" width="100%/">
                    <div class="containerPhotoCredit" alignment="true">LOU RABITO / Staff</div>
                    <div class="containerPhotoCaption" alignment="true">Cardinal O'Hara defenders Derrick Patrick Jr. (19) and Jack Gibson combine to tackle West Catholic receiver Ahmad Kent at the 1-yard line in the first overtime of a Catholic League Blue Division football game.</div>
                </div>

                <p>&ldquo;There have been major changes in terms of helmet technology,&quot; Duma said.</p>

                <p>However, Duma agrees that, in 2017, dueling narratives still compete for the attention of those concerned with concussions in football.</p>
                {% include "scroll-graphic.html" ignore missing %}

                <p>On one hand, highly-publicized studies on evidence of Chronic Traumatic Encephalopathy (CTE) in deceased NFL players has heightened awareness of the potential dangers of head injuries, especially among those who play for many years. They have caused parents to question the wisdom of allowing their children to play high school football and veteran coaches, such as Haddonfield High's Frank DeLano, to suggest that &quot;our sport is under attack.&quot;</p>

              </div>
              <div class="imagebreak">
                <img class="img-fluid" src="http://media.philly.com/images/ssHelmets-d1.JPG" alt="" width="100%/">
                <div class="containerPhotoCredit" alignment="true">MICHAEL BRYANT / Staff Photographer</div>
                <div class="containerPhotoCaption" alignment="true">Senior Father Judge linebacker and tight end, Mark Maguire, missed two games last season due to a concussion.</div>
              </div>
              <div class="col-md-8 col col-md-offset-2">

                <p>On the other hand, drastic improvements in helmets and greater emphasis on proper tackling technique along with rule changes and enlightened coaching philosophies have led supporters of the sport to say that, at the youth and high school level, the game is safer than ever.</p>

                <p>At local high schools, many of the inferior helmets being used over the last few years have been replaced by better-rated models, according to an Inquirer/Daily News analysis of three years of equipment inventories at 28 public schools in Southeastern Pennsylvania and South Jersey.</p>

                <p>At the 28 schools, more than 40 percent of the helmets this season were rated 5-star, or &quot;best,&quot; up from 25 percent two years ago.</p>

                <p>However, a nagging number of lower-rated helmets remain. Data shows that more than 100 local players from the schools in the survey were sent into action this season wearing helmets that Virginia Tech rated as &quot;good,&quot; or 3-star. Another 193 helmets in the survey,[ mostly xxxxx or xxxx FROM DYLAN,] were not tested by the researchers.</p>

                <p>Six of the 28 schools have no 5-star helmets, all of them Philadelphia public or charter high schools.</p>

                <p>James Lynch, the Philadelphia School District's executive director of athletics, said, &quot;There's no rhyme or reason to it. We follow the process of recondition and replacing helmets. We make sure all our football equipment, including helmets and shoulder pads, are properly certified. Price is not an issue. It's about keeping the kids as safe as possible.&quot;</p>

                <p>Lynch said that his helmets all have a 10-year lifetime and that back in 2012, when several schools were closed, some helmets were shuffled around to different schools.</p>

                <div class="imagebreak">
                <img class="img-fluid" src="http://media.philly.com/images/ssHelmets-j2.JPG" alt="" width="100%/">
                <div class="containerPhotoCredit" alignment="true">JESSICA GRIFFIN / Staff Photographer</div>
                <div class="containerPhotoCaption" alignment="true">Coach Joe Frappolli tries on one of his old football helmets from the 1960s.</div>
                </div>

                <p>&quot;Safety is our No. 1 priority,&quot; Lynch said. &quot;When we have helmets rejected by our contractor, we replace them. We follow the guidelines set by the contractor, which for most of our helmets is Riddell.&quot;</p>

                <p>Completely confident</p>

                <p>Like those in pros and college, local high school football players use helmets made mostly by Riddell or Schutt, both of which now sell almost exclusively 5-star helmets. Together, the two companies make up about 90 percent of the high school market, according to Glenn Beckmann, Schutt&rsquo;s directing of marketing communications.</p>

                <p>Since 1980, all high school helmets must meet standards designed by the National Operating Committee on Standards for Athletic Equipment, a nonprofit formed in 1969 in response to concerns about helmet safety at all levels. Older helmets rated &quot;adequate&quot; (2-stars) or &quot;marginal&quot; (1-star) by Virginia Tech can still meet NOCSAE standards.</p>

                <div class="imagebreak">
                <img class="img-fluid" src="http://media.philly.com/images/ssHelmets-e2.JPG" alt="" width="100%/">
                <div class="containerPhotoCredit" alignment="true">Courtesy of Riddell</div>
                <div class="containerPhotoCaption" alignment="true">Thad Ide adjusting Riddell SpeedFlex Precision-Fit helmet for linear impact testing in Riddell's Illinois laboratory.</div>
                </div>

                <p>Locally, parents say they are aware of helmet safety standards but rely on the schools&rsquo; athletic departments to comply with them.</p>

                <p>&ldquo;I&rsquo;m completely confident that my boys are safely equipped and know the correct way to tackle,&rdquo; said Celeste Lomax, who lives in Washington Township. Gloucester County, and has two sons, junior Brad and freshman Chase, playing football at St. Joseph High School.</p>

                <p>Joe Lauletta, of Exton, Chester County, is the father of Downingtown East senior quarterback Bryce Lauletta. &ldquo;I know that the school has the resources to stay up to date and provide the safest equipment,&rdquo; said Lauletta, who played quarterback in high school and college and coached a youth football team.</p>

                <p>Amy Troyano said, &quot;No matter how hard they try to play safely, kids get hurt playing football.&rdquo;</p>

                <p>Mark Maguire went through that last season. The 17-year-old Father Judge High linebacker was a junior when he moved in for a tackle in the third quarter of a game and collided helmet-to-helmet at full speed with a charging running back.</p>

                <p>&ldquo;I kind of blacked out for two seconds. I was seeing stars,&rdquo; said Maguire, who stands 6-1 and weighs 215 pounds and lives in Port Richmond. He said he was wearing a 5-star-rated Riddell Speed helmet at the time.</p>

                <p>Since 2012 in Pennsylvania and the year before in New Jersey, schools must follow youth sports concussion laws: students who exhibit symptoms of a concussion shall be removed from play, injured athletes must be evaluated and cleared by a licensed medical professional before returning to play, and once a year coaches must get concussion-management training.</p>

                <p>&quot;It was obvious that he got his bell rung,&quot; said Maguire's mother, Jennifer, who was at the game. &quot;The trainer [Anthony Rodriguez] could tell he was experiencing concussion-like symptoms and got him out of there.&quot;</p>

                <p>Maguire sat out the next two games before being cleared to return.</p>

                <p>&quot;Judge has been very good at educating us on helmet safety and the [helmet] grading system,&quot; Jennifer Maguire said.</p>

                <p> New target to hit</p>

                <p>The longevity of a helmet is mostly the cause for lower-ranked helmets still in use, Duma said. Helmets older than 10 years can no longer be re-certified by manufacturers for use.</p>

                <p>And while some players are still wearing helmets that Virginia Tech rated as merely &quot;good,&quot; Duma said the publicity around the studies that have noted the prevalence of brain disease in some deceased NFL players has created an &ldquo;overreaction&rdquo; to the dangers of the sport, especially in youth football.</p>

                <p>&ldquo;You&rsquo;re talking about somebody who played high school, college and 15 years in the NFL,&rdquo; Duma said of many pro players who have suffered from repeated or severe head injuries. &ldquo;To compare that person to a football player in middle school or high school, it&rsquo;s apples and oranges.&rdquo;</p>

                <p>Duma said that manufacturers produce 18 models that have received 5-star ratings under Virginia Tech&rsquo;s system. The ratings range from no stars (not recommended) to 1-star (marginal), 2-star (adequate), 3-star (good), 4-star (very good) to 5-star (best), with the 5-stars regarded as most able to reduce concussion risk.</p>

                <p>&ldquo;In 2011, there was one&rdquo; 5-star helmet, Duma said. &ldquo;It&rsquo;s like the car industry. Automobile manufacturers don&rsquo;t make one-star cars anymore. They are all five-stars. It&rsquo;s the same with helmets. It&rsquo;s good for the consumer. It creates more choices, more safety and drives down the prices.&rdquo;</p>

                <p>In Virginia Tech&rsquo;s ratings, the Schutt Air XP Pro VTD II and Schutt Vengeance VTD II are ranked Nos. 1 and 2, respectively. The Riddell SpeedFlex is third.</p>

                <p>People from Schutt and Riddell say they appreciate the attention the ratings bring to their products but caution against using the star system for more than a &ldquo;guide.&rdquo;</p>

                <p>&ldquo;It has given the industry another target to hit in terms of perceived helmet performance,&rdquo; Schutt&rsquo;s Beckmann said. He said he does not agree with a general statement that helmet A is better than helmet B simply because of the star rating. Sometimes, he said, helmets have nothing to do with a player getting a concussion.</p>

                <p>Thad Ide, Riddell&rsquo;s senior vice president of research and product development, said that &ldquo;Riddell was already doing the things that were incorporated into the studies.&quot;</p>

                <p>Ed McGettigan, the athletic director and football coach at Northeast Philadelphia&rsquo;s Lincoln High, said his team uses the Riddell Revolution Speed helmet. Shawnee High coach Tim Gushue, Holy Spirit High senior quarterback Josh Zamot and Council Rock South High senior lineman Noah Adam Collachi all like Riddell&rsquo;s SpeedFlex.</p>

                <p>&ldquo;I love the chin strap,&rdquo; Zamot said. &ldquo;It&rsquo;s adjustable. It just feels right.&rdquo;</p>

                <p>Archbishop Wood High has experimented with a helmet from Defend Your Head, a sports safety company that features soft-shell technology called ProTech. It&rsquo;s a polyurethane piece that fits over the existing helmet and is designed to &ldquo;absorb and dissipate&rdquo; energy from the impact of the hit.</p>

                <p>Ide said the SpeedFlex is the company&rsquo;s top-seller. Generally, Riddell said its top helmets range in price from $280 to $410, with $150 added for the newest sensor technology. Schutt said its top helmets range from $259 to $450. The Schutt F7 VD II helmet, with a manufacturer&rsquo;s suggested retail price of about $975, came out in January. It features two removable exterior plates that Beckmann called &quot;the most advanced impact absorption system on the market.&rdquo;</p>

                <p>Other concerns, too</p>

                <p>While much attention has gone to helmet safety, players, parents and coaches also stress that tackling techniques and closer scrutiny of players by coaches and trainers may be as important in avoiding head injuries.</p>

                <p>Players at Conwell-Egan and Haddonfield high schools wear padded covers on their helmets at practice to disperse some of the force that occurs during collisions. Some coaches also ban tackling during practice, opting instead for &quot;touch&quot; drills or tackling dummies. Shawnee and St. Joseph, two of South Jersey&rsquo;s top programs, don&rsquo;t tackle at all in practice during game weeks.</p>

                <p>Lomax, the mother from St. Joseph, said she wants coaches to &ldquo;drill into [players'] heads how important correct-form tackling is.&rdquo;</p>

                <p>Gushue, now in his 35th season at Shawnee, said he spends as much time teaching proper tackling technique as he does running plays. &ldquo;When I started it was, &lsquo;Go tackle the guy,&rsquo; &rdquo; Gushue said. Now, &ldquo;you hardly see much hitting in practice at all.&rdquo;</p>

                <p>The New Jersey State Interscholastic Athletic Association, the governing body in New Jersey high school sports, has guidelines limiting football teams to 90 minutes of hitting in practice per week. Many coaches say they don&rsquo;t come close to that. The Pennsylvania Interscholastic Athletic Association in Pennsylvania has a similar rule.</p>

                <p>It&rsquo;s also true, West Deptford High coach Clyde Folsom said, that today&rsquo;s players are stronger and faster than ever, so their collisions are &quot;more intense.&quot; Improved equipment and technique can compensate for only so much.</p>

                <p>&ldquo;The brain isn&rsquo;t any bigger,&quot; Folsom said. &quot;The spine isn&rsquo;t any bigger. So while the helmets are better, and everybody is teaching proper tackling techniques and being as safe and as careful as possible, the players are bigger and stronger now at every level.&rdquo;</p>

                <p>Virginia Tech&rsquo;s Duma predicted that helmets of the future are not likely to become much safer. &ldquo;We&rsquo;re probably past the peak,&rdquo; he said.</p>

                <p>Past and future</p>

                <p>Sensor safety technology has already arrived for players at Boyertown, Methacton, Kennett, Burlington City, Burlington Township, Cedar Creek, Vineland and Williamstown high schools.</p>

                <p>Like the others, Williamstown athletic director Ron Becker said the school purchased new Riddell SpeedFlex helmets that this season are equipped with an &ldquo;InSite&rdquo; sensor that measures impact.</p>

                <p>An electronic pad with sensors that are integrated with a computer program is fitted between the outside shell and the padding of the helmet. Using a hand-held devise the size of a cell phone, the coaches and training staff are able to measure the levels of hits and the timing of the heaviest impact during every practice and game.</p>

                <p>&ldquo;So we can tell if a player wearing a helmet is taking extra hits on a Tuesday, maybe we look at Tuesday&rsquo;s schedule and see what drills he&rsquo;s been going through and try to adjust that,&rdquo; Becker said. &ldquo;Or if it shows that a player has taken some particularly hard hits, maybe we take an extra-long look at the player and see how he's doing.&rdquo;</p>

                <p>That&rsquo;s a big difference from the helmets Randy Cuthbert used to wear. The Wissahickon High athletic director and football coach was a star in high school and college and played two seasons in the NFL before knee injuries and concussions cut short his career.</p>

                <p>&ldquo;I still have some of the old helmets I wore back in the day on a shelf at home,&rdquo; he said. &ldquo;It&rsquo;s scary when you compare the design, padding, and technology of helmets you see today.&rdquo;</p>

                <p>For Jared Troyano, quitting the game after his first concussion is not an option, especially with helmets getting better by the year..</p>

                <p>&ldquo;I&rsquo;m going to keep playing,&rdquo; said Troyano, whose older brother, Tyler, played for Pennsbury and younger brother, Jack, is a sophomore back. &ldquo;I trust that the helmet I wear is one of the best out there and will help keep me safe. Football is kind of in my blood.&quot;</p>
        </div>
    </div>
    <!-- <div class="row" alignment="true">
        <div class="col imagebreak">
            <img class="img-fluid" src="http://media.philly.com/images/800*533/112715_Philadelphia-Skyline.jpg" alt="" width="100%/">
            <div class="containerPhotoCredit" alignment="true">File photo</div>
            <div class="containerPhotoCaption" alignment="true">A full column width photo of Gavin.</div>
        </div>
    </div>
    <div class="row" alignment="true">
        <div class="col-md-8 col col-md-offset-2" alignment="true">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc gravida, arcu sed dignissim vestibulum, risus sapien dignissim tortor, lobortis suscipit erat ante eget sapien. In gravida arcu a nulla dignissim, sit amet ullamcorper lorem consectetur.
                nec at nunc. Nunc placerat placerat rhoncus. Donec vel luctus sem. Vivamus in nunc tellus. Quisque euismod quam nisl, in cursus ipsum pharetra ut. In ac ullamcorper nisl, sed aliquam nunc. Sed posuere bibendum rhoncus. Morbi nec efficitur
                augue. Quisque gravida faucibus massa, sit amet convallis tortor eleifend nec.</p>
        </div>
    </div> -->
</div>
<div class="headerIntro">
    <div class="backgroundImage" id="backgroundImage-2">
        <div class="backgroundImageCredit" alignment="true">Xxxx Xxxx / Staff Photographer</div>
    </div>
</div>
