<div class="headerIntro">
  <div class="backgroundImage" id="backgroundImage-1">
    <div class="backgroundImageCredit" alignment="true">
      <!-- CHARLES FOX / Staff Photographer -->
      LOU RABITO / Staff
    </div>
  </div>
  <h1 class="overlayText">High schools buy top football helmets<br>but more can be done</h1>
</div>

<div class="headerSection">
  <div class="BackgroundImageCaption">
    <!-- Jared Troyano of Pennsbury before a game against Neshaminy. -->
    Cardinal O'Hara defenders Derrick Patrick Jr. (19) and Jack Gibson combine to tackle West Catholic receiver Ahmad Kent at the 1-yard line in the first overtime of a Catholic League Blue Division football game.
  </div>
  <div class="headDisplay">
    <div class="subHead">
      Parents say they’re aware of helmet safety standards but rely on school athletic departments to do what’s best.
    </div>
    <div class="byline">
      <a href="mailto:panastasia@phillynews.com">Phil Anastasia</a>, <a href="mailto:robrien@phillynews.com">jmclane@phillynews.com</a>, Rick O'Brien</a>, <a href="mailto:cartera@phillynews.com">Aaron Carter</a>, and <a href="mailto:dpurcell@phillynews.com">Dylan Purcell
      <div style="float:right;" class="custom-social-share" alignment="true">&nbsp;</div>
    </div>
    <div class="dateline">Wednesday, Nov. 8, 2017</div>
  </div>
</div>

<div class="container bodyContainer" alignment="true">
  <div class="row" alignment="true">
    <div class="col-md-8 col col-md-offset-2" alignment="true">
      <!-- <p><span class="dropCap">L</span>orem ipsum dolor sit amet, consectetur adipiscing elit. Nunc gravida, arcu sed dignissim vestibulum, risus sapien dignissim tortor, lobortis suscipit erat ante eget sapien. In gravida arcu a nulla dignissim, sit
                amet ullamcorper lorem consectetur. nec at nunc. Nunc placerat placerat rhoncus. Donec vel luctus sem. Vivamus in nunc tellus. Quisque euismod quam nisl, in cursus ipsum pharetra ut. In ac ullamcorper nisl, sed aliquam nunc. Sed posuere
                bibendum rhoncus. Morbi nec efficitur augue. Quisque gravida faucibus massa, sit amet convallis tortor eleifend nec.</p>

            {% set quote = ["This is a quote here", "Source of quote"] %} {% include "partials/left-quote.html" %}

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc gravida, arcu sed dignissi vestibulum, risus sapien dignissim tortor, lobortis suscipit erat ante eget sapien. In gravida arcu a nulla dignissim, sit amet ullamcorper lorem consectetur.
                nec at nunc. Nunc placerat placerat rhoncus. Donec vel luctus sem. Vivamus in nunc tellus. Quisque euismod quam nisl, in cursus ipsum pharetra ut. In ac ullamcorper nisl, sed aliquam nunc. Sed posuere bibendum rhoncus. Morbi nec efficitur
                augue. Quisque gravida faucibus massa, sit amet convallis tortor eleifend nec.</p> -->
      <p>First came the collision. Then came the confusion.</p>

      <div class="adUnitWrapper containerMedia containerInsertRight" alignment="true">
        <div class="adUnit" alignment="true">
          <div id="div-gpt-ad-mrec-21" alignment="true">
            <script alignment="true" type="text/javascript">
              // <![CDATA[
              cX.callQueue.push(['invoke', function() {
                googletag.cmd.push(function() {
                  googletag.display('div-gpt-ad-mrec-21');
                });
              }]);
              // ]]>
            </script>
          </div>
        </div>
      </div>

      <p>Jared Troyano learned in this season's opening game that no football helmet can guarantee protection against a concussion.</p>

      <p>The 17-year-old Pennsbury High School defensive lineman was wrapping up a tackle late in the first quarter on Friday night, Aug. 25, when he banged helmets with another player.</p>

      <p>"I was real dazed for a minute," said Troyano, a 6-foot-1, 235-pound junior from Fairless Hills, Bucks County. "I was so confused. I was completely out of it."</p>

      <p>Troyano, who was wearing a Riddell Revolution Speed helmet, sat out the rest of the Falcons' victory that night and watched the next seven games from the sidelines as he recovered from a concussion. During his time off,&nbsp; his mother, Amy, said
        her son was "like a different person."</p>


    </div>
  </div>
  <div class="row" alignment="true">
    <div class="imagebreak">
      <img class="img-fluid" src="http://media.philly.com/images/ssHelmets-a1.JPG" alt="" width="100%/">
      <div class="containerPhotoCredit" alignment="true">CHARLES FOX / Staff Photographer</div>
      <div class="containerPhotoCaption" alignment="true">Jared Troyano of Pennsbury before a game against Neshaminy.</div>
    </div>
  </div>
  <div class="row" alignment="true">
    <div class="col-md-8 col col-md-offset-2">

      <p>"He was also miserable and spent a lot of time on his own," she said. "What happened to Jared was what I feared most."</p>

      <p>She is not alone. A properly fitted, highly rated football helmet — Troyano's was a top-of-the-line, 5-star model — can reduce the risk of concussion. But, as players and parents and coaches across the nation discover every season&nbsp; ...</p>

      <p>"You're never going to design a helmet that is going to eliminate concussions," said Thomas Watanabe, the clinical director of the <a href="http://test.mossrehab.com/Brain-Injuries/drucker-brain-injury-center-a-inpatient-program.html">Drucker Brain Injury Center</a>        at MossRehab in Elkins Park.</p>
      {% set quote = ["You're never going to design a helmet that is going to eliminate concussions.", "Thomas Watanabe, Drucker Brain Injury Center"] %} {% include "partials/left-quote.html" %}

      <p>A <a href="https://www.nfhs.org/articles/study-state-concussion-laws-effective-in-reducing-rates-of-injury/">recent study </a>by the Center for Injury Research and Policy at Nationwide Children's Hospital in Columbus, Ohio, with researchers from
        the Colorado School of Public Health and Temple University, reported that, between 2005 and 2016,&nbsp; U.S. high school athletes engaged in nine sports reported an estimated 2.7 million concussions. Football players were No. 1. The overall numbers
        translated to an average of 671 concussions per day, about one concussion in a high school athlete every two minutes, according to the National Federation of State High School Associations.</p>

      <p>The worry got serious in 2002 when studies showed that deceased NFL players with long histories of concussions had developed a degenerative brain disease, once linked mainly to boxers, called Chronic Traumatic Encephalopathy (CTE).</p>

      <p>The response at all levels was a change in football's rules to make blocking and tackling less about helmets and more about using the arms and shoulder pads. Coaches and trainers were charged with checking on players more often during practice and
        games, and protocols were developed to test players on the field to keep them from returning to action after a&nbsp; head injury. Follow-up exams are required before players can return.</p>

      <p>The concussion went from a badge of toughness to a danger signal.</p>

      <p>And helmets, the most tangible symbol of head injuries, got a lot better fast.</p>

    </div>
  </div>
  <div class="row" alignment="true">
    <div class="col-md-6 col" alignment="true">
      <div class="imagebreak">
        <img class="img-fluid" src="http://media.philly.com/images/RS_x_20171107_HELMETS12_E_428563972.JPG" alt="" width="100%/">
        <div class="containerPhotoCredit" alignment="true">CHARLES FOX / Staff Photographer</div>
        <div class="containerPhotoCaption" alignment="true">Jared Troyano, left, of Pennsbury pulls down Joel Stills of Neshaminy down by his jersey on Oct. 27, 2017.</div>
      </div>
    </div>
    <div class="col-md-6 col" alignment="true">
      <div class="imagebreak">
        <img class="img-fluid" src="http://media.philly.com/images/ssHelmets-b1.JPG" alt="" width="100%/">
        <div class="containerPhotoCredit" alignment="true">LOU RABITO / Staff</div>
        <div class="containerPhotoCaption" alignment="true">Central Bucks East defensive back Andrew Wilson leaves his feet to take down Hatboro-Horsham receiver Calvin Broaddus Jr. after a second-quarter pass.</div>
      </div>
    </div>
  </div>
  <div class="row" alignment="true">
    <div class="col-md-8 col col-md-offset-2" alignment="true">
      <p>"If you look at football in 2017 compared to football in 2011, it's drastically different," said Stefan Duma, a biomedical engineering and sciences professor at Virginia Tech University.</p>

      <p>Since 2003, Duma had led a team of researchers on football helmet safety. In 2011, they unveiled the Virginia Tech helmet&nbsp;<a href="https://www.beam.vt.edu/helmet/helmets_football.php">5-star rating system </a>that has been endorsed — grudgingly
        at first and now embraced as a sales tool — by even the big equipment manufacturers.</p>

      <p>"There have been major changes in terms of helmet technology," Duma said.</p>

      <p>However, Duma agrees that, in 2017, dueling narratives about safety rules still compete for attention.</p>

      <p>On one hand, the <a href="https://jamanetwork.com/journals/jama/article-abstract/2645104">studies on CTE </a>in deceased NFL, college and high school players sharpened awareness of head injuries, especially among those who play for many years. They
        have caused parents to reconsider their <a href="https://press.rsna.org/timssnet/media/pressreleases/14_pr_target.cfm?ID=1905">children playing youth</a> and high school football, and veteran coaches, such as Haddonfield High's Frank DeLano, to
        suggest that "our sport is under attack."</p>
    </div>
  </div>
  <div class="row" alignment="true">
    <div class="imagebreak">
      <img class="img-fluid" src="http://media.philly.com/images/ssHelmets-d1.JPG" alt="" width="100%/">
      <div class="containerPhotoCredit" alignment="true">MICHAEL BRYANT / Staff Photographer</div>
      <div class="containerPhotoCaption" alignment="true">Senior Father Judge linebacker and tight end, Mark Maguire, missed two games last season due to a concussion.</div>
    </div>
  </div>
  <div class="row" alignment="true">
    <div class="col-md-8 col col-md-offset-2">


      <p>On the other hand, improvements in helmets, emphasis on proper blocking and&nbsp; tackling technique, rule changes and enlightened coaching philosophies have led others to say that football is safer than ever at the high school level.</p>

      <p>At local high schools, many of the inferior helmets that were used over the last few years have been replaced by better-rated models, according to an&nbsp;Inquirer/Daily News analysis of three years of equipment inventories at 28 public schools
        in Southeastern Pennsylvania and South Jersey.</p>

      <p>At the 28 schools, more than 40 percent of the helmets this season were rated 5-star, or "best," up from 25 percent two years ago. Pennsbury, Troyano's school, reported that 89 percent of its 2017 helmets ranked as 5-stars.</p>

      <p>However,&nbsp; a nagging number of lower-rated helmets remain. Data shows that in more than 100 cases from the schools in the survey, students could be sent into action wearing helmets that Virginia Tech rated as "good," or 3-star.&nbsp; Another
        193 helmets in the survey were not tested by the researchers. In most cases, these helmets are variations of newer 4- and 5-star models. About three dozen of the 193 helmets are older and no longer manufactured.</p>

      </div>
    </div>
    <div class="row" alignment="true">
        <div class="col-md-8 col col-md-offset-2" alignment="true">
<!--  iframe -->
        </div>
    </div>
    <div class="row" alignment="true">
      <div class="col-md-8 col col-md-offset-2" alignment="true">


      <p style="text-align: start;">Six of the 28 schools have no 5-star helmets, all of them Philadelphia public or charter high schools, though some have unrated helmets that were recently purchased and based on newer technology.</p>

      <p>James Lynch, the Philadelphia School District's&nbsp;executive director of athletics, said his helmets all have 10-year lifetimes and that in 2012, when several schools were closed, helmets were shuffled around to different schools.</p>




      <p>"There's no rhyme or reason" to the lack of 5-star helmets at a particular school, Lynch said. "We follow the process of recondition and replacing helmets. We make sure all our football&nbsp;equipment, including helmets and shoulder pads, are properly
        certified. Price is not an issue.</p>

      <p>"It's about keeping the kids as safe as possible."</p>
      <div class="subHead">Completely confident</div>

      <p>Like those in pros and college, local high school football players use helmets made mostly by Riddell or Schutt, both of which now sell almost exclusively 5-star helmets. Together, the two companies make up about 90 percent of the (DOLLAR AMOUNT)
        high school helmet market, according to Glenn Beckmann, Schutt's directing of marketing communications.</p>

      <p>Since 1980, all high school helmets must meet standards designed by the National Operating Committee on Standards for Athletic Equipment, a nonprofit formed in 1969 in response to concerns about helmet safety at all levels. Older helmets rated "adequate"
        (2-stars) or "marginal" (1-star) by Virginia Tech can still meet <a href="http://nocsae.org/">NOCSAE</a> standards.</p>

    </div>
  </div>
  <div class="row" alignment="true">
    <div class="col-md-6 col" alignment="true">
      <div class="imagebreak">
        <img class="img-fluid" src="http://media.philly.com/images/ssHelmets-e2.JPG" alt="" width="100%/">
        <div class="containerPhotoCredit" alignment="true">Courtesy of Riddell</div>
        <div class="containerPhotoCaption" alignment="true">Thad Ide adjusting Riddell SpeedFlex Precision-Fit helmet for linear impact testing in Riddell's Illinois laboratory.</div>
      </div>
    </div>
    <div class="col-md-6 col" alignment="true">
      <div class="imagebreak">
        <img class="img-fluid" src="http://media.philly.com/images/ssHelmets-e3.JPG" alt="" width="100%/">
        <div class="containerPhotoCredit" alignment="true">Courtesy of Riddell</div>
        <div class="containerPhotoCaption" alignment="true">Thad Ide performing drop testing with a Riddell SpeedFlex Precision helmet in their Illinois laboratory.</div>
      </div>
    </div>
  </div>
  <div class="row" alignment="true">
    <div class="col-md-8 col col-md-offset-2" alignment="true">





      <p>Locally, parents say they are aware of helmet safety standards but rely on the schools' athletic departments to comply with them.</p>

      <p>"I'm completely confident that my boys are safely equipped and know the correct way to tackle," said Celeste Lomax, who lives in Washington Township. Gloucester County, and has two sons, junior Brad and freshman Chase, playing football at St. Joseph
        High School.
      </p>

      <p>Joe Lauletta, of Exton, Chester County, is the father of Downingtown East senior quarterback Bryce Lauletta.&nbsp;"I know that the school has the resources to stay up to date and provide the safest equipment," said Lauletta, who played quarterback
        at the Naval Academy and coached a youth football team.</p>

      <p>Amy Troyano said, "No matter how hard they try to play safely, kids get hurt playing football."</p>

      <p>Mark Maguire went through that last season. The 17-year-old Father Judge High linebacker was a junior when he moved in for a tackle in the third quarter of a game and collided helmet-to-helmet at full speed with a charging running back.</p>

      <p>"I kind of blacked out for two seconds. I was seeing stars," said Maguire, who stands 6-1 and weighs 215 pounds and lives in Port Richmond. He said&nbsp;he was wearing a 5-star-rated Riddell Speed helmet.</p>

      <p>"It was obvious that he&nbsp;got his bell rung," said Maguire's mother, Jennifer, who was at the game. "The trainer [Anthony Rodriguez] could tell he was experiencing concussion-like symptoms and got him out of there."</p>

      <p>Maguire sat out the next two games before being&nbsp;cleared to&nbsp;return.</p>


      <!--
    </div>
  </div>
</div>
<div class="container-fluid" alignment="true" style="overflow:hidden;"> -->

      {% include "scroll-graphic.html" ignore missing %}

      <!-- </div>
<div class="container bodyContainer" alignment="true">


  <div class="row" alignment="true">
    <div class="col-md-8 col col-md-offset-2" alignment="true">
 -->

      <div class="subHead"> New target to hit</div>


      <p>The longevity of a helmet is mostly the cause for lower-ranked helmets still in use, Duma said. Helmets older than 10 years can no longer be recertified by manufacturers.</p>

      <div class="imagebreak">
        <img class="img-fluid" src="http://media.philly.com/images/ssHelmets-g1.JPG" alt="" width="100%/">
        <div class="containerPhotoCredit" alignment="true">ELIZABETH ROBERTSON / Staff Photographer</div>
        <div class="containerPhotoCaption" alignment="true">West Deptford's # 74 John Barrett hugs West Deptford HS football coach Clyde Folsom after he got his 200th win with the Eagles after they won the West Deptford at Collingswood H.S. football game.</div>
      </div>

      <p>Duma said manufacturers have produced 18 models that have received 5-star ratings under Virginia Tech's system. The ratings range from no stars (not recommended) to 1-star (marginal), 2-star (adequate), 3-star (good), 4-star (very good) to 5-star
        (best), with the 5-stars regarded as most able to reduce concussion risk. Duma's testing, like that of the manufacturers, consists of a variety of mechanisms that simulate and record helmet collisions.</p>

      <p>"In 2011, there was one" 5-star helmet, Duma said. "It's like the car industry. Automobile manufacturers don't make one-star cars anymore. They are all five-stars. It's the same with helmets."</p>

      <p>In Virginia Tech's ratings, the Schutt Air XP Pro VTD II and Schutt Vengeance VTD II are ranked Nos. 1 and 2, respectively. The Riddell SpeedFlex is third.</p>

      <p>People from Schutt and Riddell say they appreciate the attention the ratings bring to their top products but caution against using the star system for more than a "guide."</p>

      <p>"It has given the industry another target to hit in terms of perceived helmet performance," Schutt's Beckmann said. He said he does not agree with a general statement that helmet A is better than helmet B simply because of the star rating. Sometimes,
        he said, helmets have nothing to do with a player getting a concussion.</p>

      <p>Ed McGettigan, the athletic director and football coach at Northeast Philadelphia's Lincoln High, said his team uses the Riddell Revolution Speed helmet. Shawnee High coach Tim Gushue, Holy Spirit High senior quarterback Josh Zamot and Council Rock
        South High senior lineman Noah Adam Collachi all like Riddell's SpeedFlex.</p>

      <div class="imagebreak">
        <img class="img-fluid" src="http://media.philly.com/images/ssHelmets-h3.JPG" alt="" width="100%/">
        <div class="containerPhotoCredit" alignment="true">MICHAEL BRYANT / Staff Photographer</div>
        <div class="containerPhotoCaption" alignment="true">Methacton football trainer Zachery Olds shows how a chip in the football helmets transmits data to a hand held device that shows about how many times the helmet has been hit.</div>
      </div>


      <p>"I love the chin strap," Zamot said. "It's adjustable. It just feels right."</p>

      <p>Archbishop Wood High has used a helmet from <a href="http://www.defendyourhead.com/">Defend Your Head</a>, a sports safety company that features soft-shell technology called ProTech. It's a polyurethane piece that fits over the existing helmet and
        is designed to "absorb and dissipate" energy from the impact of the hit.</p>

      <p>Generally, Riddell said its top helmets range in price from $280 to $410, with $150 added for the newest sensor technology. Schutt said its top helmets range from $259 to $450. The Schutt F7 VD II helmet, with a retail price of about $975, came
        out in January. It features two removable exterior plates that Beckmann called "the most advanced impact absorption system on the market."</p>

      <div class="subHead">Other concerns, too</div>

      <p>While much attention has gone to helmet safety, players, parents and coaches also stress that blocking and tackling techniques and closer scrutiny of players by coaches and trainers are as important in avoiding head injuries.</p>

      <p>Players at Conwell-Egan and Haddonfield high schools wear padded covers on their helmets at practice to disperse some of the force that occurs during collisions. Some coaches also ban tackling during practice, opting instead for "touch" drills or
        tackling dummies. &nbsp;Shawnee and St. Joseph, two of South Jersey's top programs, don't tackle at all in practice during game weeks.</p>

            </div>
          </div>
          <div class="row" alignment="true">
            <div class="imagebreak">
              <div class="col-md-6 col" alignment="true">
                <img class="img-fluid" src="http://media.philly.com/images/ssHelmets-f6.JPG" alt="" width="100%/">
              </div>
              <div class="col-md-6 col" alignment="true">
                <img class="img-fluid" src="http://media.philly.com/images/RS_x_20171107_HELMETS12_D_425899322.JPG" alt="" width="100%/">
                <div class="containerPhotoCredit" alignment="true">TOM GRALISH / Staff Photographer</div>

              </div>
              <div class="containerPhotoCaption" alignment="true">Haddonfield Memorial High School head football coach Frank DeLano at practice. His team uses Guardian Cap soft shell helmet covers for reduction of helmet-to-helmet impact.</div>
            </div>
          </div>
          <div class="row" alignment="true">
            <div class="col-md-8 col col-md-offset-2" alignment="true">


      <p>Lomax, the mother from St. Joseph, said she wants coaches to "drill into [players'] heads how important correct-form tackling is."</p>

      <p>Gushue, now in his 35th season at Shawnee, said he spends as much time teaching proper tackling technique (don't lead with your head) as he does running plays.&nbsp;"When I started it was, 'Go tackle the guy,' " Gushue said. Now, "you hardly see
        much hitting in practice at all."</p>

      <p>The New Jersey State Interscholastic Athletic Association, the governing body in New Jersey high school sports, has guidelines limiting football teams to 90 minutes of hitting in practice per week. Many coaches say they don't come close to that.
        The Pennsylvania Interscholastic Athletic Association has a similar rule.</p>

      <p>It's also the case, West Deptford High coach Clyde Folsom said, that today's players are stronger and faster than ever, so their&nbsp; collisions are "more intense." Improved equipment and technique can compensate for only so much.</p>

      <p>"The brain isn't any bigger," Folsom said. "The spine isn't any bigger. So while the helmets are better, and everybody is teaching proper tackling techniques and being as safe and as careful as possible, the players are bigger and stronger now at
        every level."
      </p>
      <div class="subHead">Past and future</div>

      <p>Sensor safety technology has already arrived for players at Boyertown, Methacton, Kennett, Burlington City, Burlington Township, Cedar Creek, Vineland and Williamstown high schools.</p>

      <p>Like the others, Williamstown athletic director Ron Becker said the school purchased new Riddell SpeedFlex helmets that are equipped with an "<a href="https://www.riddell.com/riddell-iq">InSite</a>" sensor that measures and reports significant impact.</p>

      <p>An electronic pad with sensors that are integrated with a computer program is fitted between the outside shell and the padding of the helmet. Using a handheld receiver the size of a cellphone, the coaches and training staff are able to measure the
        levels of hits and the timing of the heaviest impact during every practice and game. An alert is generated on the receiver if an extraordinary hit is recorded by the sensors.</p>

        {% set quote = ["It almost gives you an extra pair of eyes.", "Nick Reyes, Kennett High"] %} {% include "partials/left-quote.html" %}

      <p>"So we can tell if a player wearing a helmet is taking extra hits on a Tuesday, maybe we look at Tuesday's schedule and see what drills he's been going through and try to adjust that," Becker said. "Or if it shows that a player has taken some particularly
        hard hits, maybe we take an extra-long look at the player and see how he's doing."</p>

      <p>"It almost gives you an extra pair of eyes," said Kennett High trainer Nick Reyes.</p>

      <p>That's a big difference from the helmets that Florence coach Joe Frappolli and Randy Cuthbert used to wear. Frappolli still has the flimsy leather helmet he wore in high school for the 1961 Florence Flashes. Cuthbert, the Wissahickon High athletic
        director and football coach, was a star at Central Bucks West High in the 1980s and played in college at Duke and two seasons with the Steelers in the NFL before knee injuries and concussions ended his career.</p>




    </div>
  </div>
  <div class="row" alignment="true">
    <div class="col-md-6 col" alignment="true">
      <div class="imagebreak">
        <img class="img-fluid" src="http://media.philly.com/images/ssHelmets-i1.JPG" alt="" width="100%/">
        <div class="containerPhotoCredit" alignment="true">JESSICA GRIFFIN / Staff Photographer</div>
        <div class="containerPhotoCaption" alignment="true">Wissahickon football coach and AD Randy Cuthbert shows the helmets he wore playing for C.B. West (mid-1980s), Duke, Pittsburgh Steelers, and Carolina Panthers.</div>
      </div>
    </div>
    <div class="col-md-6 col" alignment="true">
      <div class="imagebreak">
        <img class="img-fluid" src="http://media.philly.com/images/ssHelmets-j2.JPG" alt="" width="100%/">
        <div class="containerPhotoCredit" alignment="true">JESSICA GRIFFIN / Staff Photographer</div>
        <div class="containerPhotoCaption" alignment="true">Coach Joe Frappolli tries on one of his old football helmets from the 1960's.</div>
      </div>
    </div>
  </div>
  <div class="row" alignment="true">
    <div class="col-md-8 col col-md-offset-2" alignment="true">










      <p>"It's scary when you compare the design, padding, and technology of helmets you see today," Cuthbert said.</p>

      <p>For Jared Troyano, quitting football after his first concussion is not an option, especially with helmets getting better by the year.</p>
      <div class="adUnitWrapper containerMedia containerInsertRight" alignment="true">
        <div class="adUnit" alignment="true">
          <div id="div-gpt-ad-mrec-22" alignment="true">
            <script alignment="true" type="text/javascript">
              // <![CDATA[
              cX.callQueue.push(['invoke', function() {
                googletag.cmd.push(function() {
                  googletag.display('div-gpt-ad-mrec-22');
                });
              }]);
              // ]]>
            </script>
          </div>
        </div>
      </div>
      <p>"I trust that the helmet I wear is one of the best out there and will help keep me safe," said Troyano, whose older brother, Tyler, played for Pennsbury and younger brother, Jack, is a sophomore back. "Football is kind of in my blood."</p>
    </div>
  </div>
  <!-- <div class="row" alignment="true">
        <div class="col imagebreak">
            <img class="img-fluid" src="http://media.philly.com/images/800*533/112715_Philadelphia-Skyline.jpg" alt="" width="100%/">
            <div class="containerPhotoCredit" alignment="true">File photo</div>
            <div class="containerPhotoCaption" alignment="true">A full column width photo of Gavin.</div>
        </div>
    </div>
    <div class="row" alignment="true">
        <div class="col-md-8 col col-md-offset-2" alignment="true">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc gravida, arcu sed dignissim vestibulum, risus sapien dignissim tortor, lobortis suscipit erat ante eget sapien. In gravida arcu a nulla dignissim, sit amet ullamcorper lorem consectetur.
                nec at nunc. Nunc placerat placerat rhoncus. Donec vel luctus sem. Vivamus in nunc tellus. Quisque euismod quam nisl, in cursus ipsum pharetra ut. In ac ullamcorper nisl, sed aliquam nunc. Sed posuere bibendum rhoncus. Morbi nec efficitur
                augue. Quisque gravida faucibus massa, sit amet convallis tortor eleifend nec.</p>
        </div>
    </div> -->
</div>
<div class="headerIntro">
  <div class="backgroundImage" id="backgroundImage-2">
    <div class="backgroundImageCredit" alignment="true">MICHAEL BRYANT / Staff Photographer</div>
  </div>
</div>


<div class="container-fluid sourcebox" alignment="true">
  <div class="row" alignment="true">
    <div class="col-md-8 col col-md-offset-2" alignment="true">
      <div>
        <h4>CREDITS</h4>
        <p>Reporters: Phil Anastasia, Rick O'Brien, Aaron Carter, and Dylan Purcell<br>
          Editors: Gary Miles and James Neff<br>
          Visuals editor: Frank Wiese<br>
          Photo editor: Alejandro Alvarez<br>
          Design and graphics: Garland Potts, Jon Snyder and Jared Whalen<br>
          Project Manager: Ellen Dunkel<br>
          Photography: Tom Gralish, Charles Fox, Michael Bryant, Jessica Griffin and Lou Rabito<br>
          <!-- Copy editor: Gina Esposito <br> -->
          <!-- Social editor: Ray Boyd -->
        </p>
      </div>
    </div>
  </div>
</div>
