</div>
</div>
</div>
<div class="scrolltrigger"></div>
<div class="helmets-scroll">
    <div <div class="text-scroll">
        <div class="text-section main-head">
            <div class="head">What to Look for in a Football Helmet
            </div>
            <div class="text">Helmets are an important part of football safety, but many players and parents pay little attention to the details of headgear. Here is a primer on what to look for when you examine a football helmet
            </div>
        </div>
        <div class="text-section">
            <div class="head">PADDING</div>
            <div class="text">With a properly fitted helmet, the top of the head is separated from the helmet shell by a uniform, functional, shock-absorbing support lining. Daily evaluation of this support mechanism, including cheek and brow pads, for placement and resiliency
                should be taught to the student athlete.
            </div>
        </div>
        <div class="text-section">
            <div class="head">SHELL</div>
            <div class="text">Helmet shells should be examined weekly for cracking and inspected closely again if the face mask has been bent out of shape.
            </div>
        </div>
        <div class="text-section">
            <div class="head">FIT</div>
            <div class="text">The helmet should fit snugly without dependence on the chin strap. The helmet should not twist or slide when an examiner grasps the face mask and attempts to rock or turn the helmet with the wearer resisting the movement.
            </div>
        </div>
        <div class="text-section">
            <div class="head">Certification</div>
            <div class="text">Look for the sticker with information on the helmet’s certification and date of manufacture. Helmets are good for 10 years before they need to be replaced.
            </div>
        </div>
        <div class="text-section">
            <div class="head">AIR PADS
            </div>
            <div class="text">Helmets equipped with air pads should be inflated and inspected daily by those assigned to equipment care.
            </div>
        </div>
        <div class="text-section">
            <div class="head">HARDWARE</div>
            <div class="text">All helmets need to be reconditioned and the plastic loop attachments of the swing-away mask replaced on a yearly basis.
            </div>
        </div>
        <div class="text-section">
            <div class="head">STRAPS</div>
            <div class="text">The chin strap should be centered under the athlete’s chin and fit snugly. Although no scientific research shows that mouth guards reduce the risk of concussion, athletes should wear a mouth guard to help prevent dental or facial injuries.
            </div>
        </div>
        <div class="text-section">
            <div class="head">EMERGENCY TIPS
            </div>
            <div class="text">Although a helmet is designed for a stable fit for protection during play, removal of the helmet by others is relatively difficult. In the case of a head or neck injury, jostling and pulling during removal presents high potential for further
                trauma.<br> Unless there are special circumstances such as respiratory distress coupled with an inability to access the airway, the helmet should never be removed on the field when there is a potential head/neck injury. When such helmet
                removal is necessary in any setting, it should be performed only by personnel trained in this procedure.
            </div>
        </div>
    </div>
    <div class="image-scroll">
        <div class="scroll-img firstimg">
            <img alt="" data-index="0" src="#" data-src="http://media.philly.com/storage/inquirer/Graphics/helmets/helmetintro.gif">
        </div>
        <div class="scroll-img">
            <img alt="" data-index="0" src="#" data-src="http://media.philly.com/storage/inquirer/Graphics/helmets/pads.jpg">
        </div>
        <div class="scroll-img">
            <img alt="" data-index="0" src="#" data-src="http://media.philly.com/storage/inquirer/Graphics/helmets/outside.jpg">
        </div>
        <div class="scroll-img">
            <img alt="" data-index="0" src="#" data-src="http://media.philly.com/storage/inquirer/Graphics/helmets/fit.jpg">
        </div>
        <div class="scroll-img">
            <img alt="" data-index="0" src="#" data-src="http://media.philly.com/storage/inquirer/Graphics/helmets/sticker.jpg">
        </div>
        <div class="scroll-img">
            <img alt="" data-index="0" src="#" data-src="http://media.philly.com/storage/inquirer/Graphics/helmets/padding.jpg">
        </div>
        <div class="scroll-img">
            <img alt="" data-index="0" src="#" data-src="http://media.philly.com/storage/inquirer/Graphics/helmets/outside.jpg">
        </div>
        <div class="scroll-img">
            <img alt="" data-index="0" src="#" data-src="http://media.philly.com/storage/inquirer/Graphics/helmets/outside.jpg">
        </div>
        <div class="scroll-img">
            <img alt="" data-index="0" src="#" data-src="http://media.philly.com/storage/inquirer/Graphics/helmets/outside.jpg">
        </div>

    </div>
    <div class="containerPhotoCredit creditscroll" alignment="true">JON SNYDER  and GARLAND POTTS / Staff</div>
    <div class="containerPhotoCredit creditscroll" alignment="true"></div>



</div>
<div class="scrollend"></div>

<div class="container bodyContainer" alignment="true">
    <div class="row" alignment="true">
        <div class="col-md-8 col col-md-offset-2" alignment="true">
