</div>
</div>
</div>
<div class="scrolltrigger"></div>
<div class="helmets-scroll">
    <div <div class="text-scroll">
        <div class="text-section main-head">
            <div class="head">What to Look for in a Football Helmet
            </div>
            <div class="text">Helmets are an important part of football safety, but many players and parents pay little attention to the details of headgear. Here is a primer on what to look for.
            </div>
        </div>
        <div class="text-section">
            <div class="head">SAFETY RATING
            </div>
            <div class="text">
                Learn the safety rating of a helmet, which ranges from 1 to 5 stars, by <a href="http://www.beam.vt.edu/helmet/helmets_football.php">searching here.</a>
            </div>
        </div>
        <div class="text-section">
            <div class="head">PADDING</div>
            <div class="text">With a properly fitted helmet, the top of the head is separated from the helmet shell by a uniform, functional, shock-absorbing support lining. Daily evaluation of this support mechanism, including cheek and brow pads, for placement and resiliency
                should be taught to players.
            </div>
        </div>
        <div class="text-section">
            <div class="head">SHELL</div>
            <div class="text">Helmet shells should be examined weekly for cracking and inspected closely again if the face mask has been bent out of shape.
            </div>
        </div>
        <div class="text-section">
            <div class="head">FIT</div>
            <div class="text">The helmet should fit snugly without dpending on the chin strap. The helmet should not twist or slide when someone grasps the face mask and tries to rock or turn the helmet with the wearer resisting the movement.
            </div>
        </div>
        <div class="text-section">
            <div class="head">Certification</div>
            <div class="text">Look for the sticker with information on the helmet’s certification and date of manufacture. Helmets must be replaced within 10 years.
            </div>
        </div>
        <div class="text-section">
            <div class="head">AIR PADS
            </div>
            <div class="text">Helmets equipped with air pads should be inflated and inspected daily by those assigned to equipment care.
            </div>
        </div>
        <div class="text-section">
            <div class="head">HARDWARE</div>
            <div class="text">All helmets need to be reconditioned and the plastic loop attachments of the swing-away mask replaced on a yearly basis.
            </div>
        </div>
        <div class="text-section">
            <div class="head">STRAPS</div>
            <div class="text">The chin strap should be centered under the athlete’s chin and fit snugly. Players should wear a mouth guard to help prevent dental or facial injuries.
            </div>
        </div>

    </div>
    <div class="image-scroll">
        <div class="scroll-img firstimg">
            <img alt="" data-index="0" src="#" data-src="http://media.philly.com/storage/inquirer/Graphics/helmets/helmetintro.gif">
        </div>
        <div class="scroll-img firstimg">
            <img alt="" data-index="0" src="#" data-src="http://media.philly.com/storage/inquirer/Graphics/helmets/helmetintro.gif">
        </div>
        <div class="scroll-img">
            <img alt="" data-index="0" src="#" data-src="http://media.philly.com/storage/inquirer/Graphics/helmets/pads.jpg">
        </div>
        <div class="scroll-img">
            <img alt="" data-index="0" src="#" data-src="http://media.philly.com/storage/inquirer/Graphics/helmets/outside.jpg">
        </div>
        <div class="scroll-img">
            <img alt="" data-index="0" src="#" data-src="http://media.philly.com/storage/inquirer/Graphics/helmets/fit.jpg">
        </div>
        <div class="scroll-img">
            <img alt="" data-index="0" src="#" data-src="http://media.philly.com/storage/inquirer/Graphics/helmets/sticker.jpg">
        </div>
        <div class="scroll-img">
            <img alt="" data-index="0" src="#" data-src="http://media.philly.com/storage/inquirer/Graphics/helmets/padding.jpg">
        </div>
        <div class="scroll-img">
            <img alt="" data-index="0" src="#" data-src="http://media.philly.com/storage/inquirer/Graphics/helmets/outside.jpg">
        </div>
        <div class="scroll-img">
            <img alt="" data-index="0" src="#" data-src="http://media.philly.com/storage/inquirer/Graphics/helmets/outside.jpg">
        </div>
    

    </div>
    <div class="containerPhotoCredit creditscroll" alignment="true">SOURCE:2017-18 Pennsylvania Interscholastic Athletic Association<br>JON SNYDER  and GARLAND POTTS / Staff Artists</div>


</div>
<div class="scrollend"></div>

<div class="container bodyContainer" alignment="true">
    <div class="row" alignment="true">
        <div class="col-md-8 col col-md-offset-2" alignment="true">
